/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    margin-left: 10%;
}

.container {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

h1 {
    color: #030037;
    text-align: center;
}

h2 {
    color: #030037;
    margin-left: 5%;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: auto; /* Pour centrer le bouton à droite */
    margin-right: auto; /* Pour centrer le bouton à gauche */
    display: block; /* Pour qu'il prenne toute la largeur disponible */
    border-radius: 20px; /* Pour arrondir les coins */
}

button:hover {
    background-color: #0056b3;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"] {
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button[type="submit"] {
    background-color: #28a745;
    color: #fff;
    margin-left: 10%; /* Pour centrer le bouton à droite */
    display: block; /* Pour qu'il prenne toute la largeur disponible */
    border-radius: 5px; /* Pour arrondir les coins */
}

form button[type="submit"]:hover {
    background-color: #1e7e34;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.logo {
    width: 50px; /* Définissez la largeur souhaitée en pixels ou avec une autre unité de mesure */
    height: auto; /* Assurez-vous que la hauteur est ajustée automatiquement pour conserver les proportions */
}

.lancer-application {
    margin: 50px;
}

.btn-lancer {
    font-size: xx-large;
    color: #1209c1;
    text-decoration: none;
}